@use 'base/fonts';
@use 'base/variables';
@use 'base/reset';
@use 'layout/layout';
@use 'modules/hero';
@use 'modules/global';


@import url(https://api.fontshare.com/v2/css?f[]=switzer@1,2&display=swap);









