:root {
  --black-opacity-black-90: rgba(0, 0, 0, 0.90);
  --black-opacity-black-80: rgba(0, 0, 0, 0.80);
  --black-opacity-black-70: rgba(0, 0, 0, 0.70);
  --black-opacity-black-60: rgba(0, 0, 0, 0.60);
  --black-opacity-black-50: rgba(0, 0, 0, 0.50);
  --black-opacity-black-40: rgba(0, 0, 0, 0.40);
  --black-opacity-black-30: rgba(0, 0, 0, 0.30);
  --black-opacity-black-20: rgba(0, 0, 0, 0.20);
  --black-opacity-black-10: rgba(0, 0, 0, 0.10);
  --black-opacity-black-5: rgba(0, 0, 0, 0.05);
}
