:root {
  --oranges-yam: #cc5801;
  --oranges-sandstone: #d57128;
  --oranges-amber: #893201;
  --oranges-marmalade: #d16102;
  --oranges-spice: #7a3a03;
  --oranges-squash: #c95c09;
  --oranges-carrot: #ed7116;
  --oranges-apricot: #ed810f;
  --oranges-cantaloupe: #fca172;
  --oranges-bronze: #b2560c;
  --oranges-tiger: #fb6b02;
  --oranges-ginger: #bc5703;
  --oranges-rust: #8c4005;
  --oranges-cider: #b66827;
  --oranges-merigold: #fdae1d;
  --oranges-tangerine: #f98228;
  --oranges-orange: #ff851b;
}
