:root {
  --purples-mulberry: #4d0220;
  --purples-orchid: #af69ee;
  --purples-raisin: #290916;
  --purples-amethyst: #a45de4;
  --purples-heather: #9b7cb9;
  --purples-iris: #9866c5;
  --purples-eggplant: #311431;
  --purples-periwinkle: #be93d4;
  --purples-lilac: #b65fcd;
  --purples-plum: #601a36;
  --purples-maroon: #85144b;
  --purples-lavender: #e3a0f6;
  --purples-boysenberry: #630536;
  --purples-violet: #710193;
  --purples-mauve: #7a4a89;
  --purples-purple: #b10dc9;
}
