:root {
  --reds-lipstick: #9b0f02;
  --reds-candy: #d31603;
  --reds-blush: #bb544a;
  --reds-currant: #670c07;
  --reds-sangrial: #5f1914;
  --reds-blood: #710c04;
  --reds-mahogany: #420d09;
  --reds-redapple: #a91b0d;
  --reds-redwine: #4c0805;
  --reds-scarlet: #910d08;
  --reds-rubby: #900503;
  --reds-crimson: #b8100a;
  --reds-garnet: #5f0a04;
  --reds-merlot: #541f1b;
  --reds-jam: #600f0b;
  --reds-rose: #e2252a;
  --reds-cherry: #9a0f02;
  --reds-red: #ff4136;
  --reds-passion: #ff324b;
}
