:root {
  --white-opacity-white-90: rgba(255, 255, 255, 0.90);
  --white-opacity-white-80: rgba(255, 255, 255, 0.80);
  --white-opacity-white-70: rgba(255, 255, 255, 0.70);
  --white-opacity-white-60: rgba(255, 255, 255, 0.60);
  --white-opacity-white-50: rgba(255, 255, 255, 0.50);
  --white-opacity-white-40: rgba(255, 255, 255, 0.40);
  --white-opacity-white-30: rgba(255, 255, 255, 0.30);
  --white-opacity-white-20: rgba(255, 255, 255, 0.20);
  --white-opacity-white-10: rgba(255, 255, 255, 0.10);
  --white-opacity-white-5: rgba(255, 255, 255, 0.05);
}