@use 'whites';
@use 'blacks';
@use 'blues';
@use 'browns';
@use 'earthy';
@use 'grays';
@use 'greens';
@use 'oranges';
@use 'pinks';
@use 'purples';
@use 'reds';
@use 'yellows';
@use 'white-opacity';
@use 'black-opacity';