:root {
  --blues-arctic: #82edfe;
  --blues-sapphire: #52b2c0;
  --blues-admiral: #060f94;
  --blues-denim: #141e3c;
  --blues-berry: #24146f;
  --blues-agean: #1e456e;
  --blues-stone: #59788d;
  --blues-spruce: #2c3e4b;
  --blues-lapis: #2632c2;
  --blues-cerulean: #0592c2;
  --blues-azure: #1621a6;
  --blues-peacock: #002d37;
  --blues-ocean: #026063;
  --blues-cobalt: #1438bd;
  --blues-indigo: #281e5d;
  --blues-slate: #757b87;
  --blues-teal: #39cccc;
  --blues-sky: #00b2ff;
  --blues-aqua: #7fdbff;
  --blues-navy: #001f3f;
  --blues-blue: #0074d9;
}
