:root {
  --earthy-shortbread: #fce791;
  --earthy-sanddlollar: #ebe7b9;
  --earthy-buttermilk: #fdefb2;
  --earthy-sandcastle: #dbc27d;
  --earthy-hazelnut: #bda55d;
  --earthy-parmesan: #fee993;
  --earthy-biscotti: #e3c565;
  --earthy-oyster: #dcd69f;
  --earthy-latte: #e9c17b;
  --earthy-sepia: #e3b678;
  --earthy-sand: #d7b963;
  --earthy-fwan: #c7a951;
  --earthy-eggnog: #fbe29d;
  --earthy-oat: #dec98a;
  --earthy-granola: #d6b75a;
  --earthy-hazelwood: #c9bc8e;
  --earthy-macaroon: #f7df75;
  --earthy-beige: #ecdc99;
  --earthy-tan: #e5dbac;
}
