:root {
  --pinks-hotpink: #ff1696;
  --pinks-crepe: #f1b7c6;
  --pinks-balletslipper: #f69abf;
  --pinks-bubblegum: #fd5ca8;
  --pinks-taffy: #fa85c4;
  --pinks-lemonade: #fabacb;
  --pinks-rosewood: #a04242;
  --pinks-strawberry: #fc4c4e;
  --pinks-peach: #fb9483;
  --pinks-coral: #fe7d67;
  --pinks-salmon: #fdab9f;
  --pinks-rogue: #f26c8c;
  --pinks-flamingo: #fda4b8;
  --pinks-watermelon: #fe809c;
  --pinks-punch: #f25278;
  --pinks-fuchsial: #f012be;
  --pinks-pink: #f69acd;
}
