:root {
  --yellows-tuscansun: #fcd12a;
  --yellows-pineapple: #ffe327;
  --yellows-blonde: #fdeb75;
  --yellows-honey: #ec9707;
  --yellows-dijon: #c29200;
  --yellows-butterscoth: #fabd04;
  --yellows-banana: #fcf4a3;
  --yellows-bumblebee: #fce206;
  --yellows-dandelion: #fdce2a;
  --yellows-medalion: #e4b103;
  --yellows-corn: #e4cd04;
  --yellows-mustard: #e9b829;
  --yellows-lemon: #effd5f;
  --yellows-butter: #fee226;
  --yellows-flaxen: #d5b65a;
  --yellows-daffodil: #feee88;
  --yellows-gold: #f9a602;
  --yellows-canary: #fac801;
  --yellows-yellow: #ffdc00;
}
