:root {
  --sans: "Switzer", sans-serif;
  --serif: "Recia", serif;
  --display-sans: "Sharpie", sans-serif;
  --display-serif: "Literata", serif;
  /* html text styles */
  /* this set is little small in size, use for more conservative designs */
  --h1: clamp(1.75rem, 1.1765rem + 2.3529vw, 4rem);
  --h2: clamp(1.5rem, 0.9902rem + 2.0915vw, 3.5rem);
  --h3: clamp(1.375rem, 0.9608rem + 1.6993vw, 3rem);
  --h4: clamp(1.25rem, 0.9314rem + 1.3072vw, 2.5rem);
  --h5: clamp(1.125rem, 0.902rem + 0.915vw, 2rem);
  --h6: clamp(1rem, 0.8725rem + 0.5229vw, 1.5rem);
  --p: clamp(1rem, 0.8725rem + 0.5229vw, 1.5rem);
  /* display title styles */
  --d1: clamp(var(--size-48), var(--size-8) + 10vw, var(--size-160));
  --d2: clamp(var(--size-32), var(--size-8) + 8vw, var(--size-100));
  --d3: clamp(var(--size-24), var(--size-8) + 6vw, var(--size-60));
}

:root {
  /* colors */
  --white: #fcfcfc;
  --black: #09090b;
  --transparent: rgba(0, 0, 0, 0);
  /* primary */
  --primary-200: #ffc9c5;
  --primary-300: #ffa39d;
  --primary-500: #fe4235;
  --primary-700: #C71A0E;
  --primary-950: #4a0905;
  /* secondary */
  --secondary-200: #9af5e2;
  --secondary-300: #2ed3bc;
  --secondary-500: #15b7a3;
  --secondary-700: #10756c;
  --secondary-950: #064240;
  /* brand */
  --brand-900: #4A4A4A;
  --brand-500: #CCC4B8;
  --brand-200: #FCF2EA;
  /* zinc */
  --gray-50: #fafafa;
  --gray-100: #f4f4f5;
  --gray-200: #e4e4e7;
  --gray-300: #d4d4d8;
  --gray-400: #a1a1aa;
  --gray-500: #71717a;
  --gray-600: #52525b;
  --gray-700: #3f3f46;
  --gray-800: #27272a;
  --gray-900: #18181b;
  /* white opacity */
  --white-opacity-10: rgba(255, 255, 255, 0.1);
  --white-opacity-20: rgba(255, 255, 255, 0.2);
  --white-opacity-30: rgba(255, 255, 255, 0.3);
  --white-opacity-40: rgba(255, 255, 255, 0.4);
  --white-opacity-50: rgba(255, 255, 255, 0.5);
  --white-opacity-60: rgba(255, 255, 255, 0.6);
  --white-opacity-70: rgba(255, 255, 255, 0.7);
  --white-opacity-80: rgba(255, 255, 255, 0.8);
  --white-opacity-90: rgba(255, 255, 255, 0.9);
  /* black opacity */
  --black-opacity-10: rgba(0, 0, 0, 0.1);
  --black-opacity-20: rgba(0, 0, 0, 0.2);
  --black-opacity-30: rgba(0, 0, 0, 0.3);
  --black-opacity-40: rgba(0, 0, 0, 0.4);
  --black-opacity-50: rgba(0, 0, 0, 0.5);
  --black-opacity-60: rgba(0, 0, 0, 0.6);
  --black-opacity-70: rgba(0, 0, 0, 0.7);
  --black-opacity-80: rgba(0, 0, 0, 0.8);
  --black-opacity-90: rgba(0, 0, 0, 0.9);
}

:root {
  /*  sizes  */
  --size-0: 0;
  --size-1: 0.0625rem;
  --size-1half: 0.09375rem;
  --size-2: 0.125rem;
  --size-4: 0.25rem;
  --size-8: 0.5rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-24: 1.5rem;
  --size-32: 2rem;
  --size-40: 2.5rem;
  --size-48: 3rem;
  --size-60: 3.75rem;
  --size-72: 4.5rem;
  --size-80: 5rem;
  --size-100: 6.25rem;
  --size-120: 7.5rem;
  --size-160: 10rem;
  /* space */
  --space-xsmall: clamp(var(--size-4), var(--size-4) + 2vw, var(--size-16));
  --space-small: clamp(var(--size-8), var(--size-4) + 2vw, var(--size-24));
  --space-medium: clamp(var(--size-16), var(--size-8) + 2vw, var(--size-32));
  --space-large: clamp(var(--size-24), var(--size-8) + 2.2vw, var(--size-48));
  --space-xlarge: clamp(var(--size-32), var(--size-8) + 2.2vw, var(--size-60));
  --space-grande: clamp(var(--size-60), var(--size-8) + 2.2vw, var(--size-80));
  --space-jumbo: clamp(var(--size-80), var(--size-8) + 2.2vw, var(--size-120));
  --space-giant: clamp(var(--size-100), var(--size-8) + 2.2vw, var(--size-160));
  --space-mega: clamp(calc(var(--size-120) * 1.25), var(--size-8) + 2.8vw, calc(var(--size-160) * 1.25));
  --space-cosmic: clamp(calc(var(--size-120) * 1.5), var(--size-8) + 3.2vw, calc(var(--size-160) * 1.5));
  /* border radius */
  --radius: clamp(var(--size-2), var(--size-4) + 2vw, var(--size-8));
}

.padding-8 {
  padding: clamp(0.125rem, -0.3438rem + 1.5vw, 0.5rem);
}

.padding-16 {
  padding: clamp(0.25rem, -0.6875rem + 3vw, 1rem);
}

.padding-20 {
  padding: clamp(0.5rem, -0.4375rem + 3vw, 1.25rem);
}

.padding-24 {
  padding: clamp(0.5rem, -0.75rem + 4vw, 1.5rem);
}

.padding-32 {
  padding: clamp(0.75rem, -0.8125rem + 5vw, 2rem);
}

.padding-40 {
  padding: clamp(1rem, 0.6176rem + 1.5686vw, 2.5rem);
}

.padding-left-40 {
  padding-left: clamp(0rem, -0.6373rem + 2.6144vw, 2.5rem);
}

.padding-right-40 {
  padding-right: clamp(0rem, -0.6373rem + 2.6144vw, 2.5rem);
}

.padding-left-48 {
  padding-left: clamp(0rem, -0.7647rem + 3.1373vw, 3rem);
}

.padding-right-48 {
  padding-right: clamp(0rem, -0.7647rem + 3.1373vw, 3rem);
}

.padding-left-120 {
  padding-left: clamp(1rem, -1.25rem + 5vw, 7.5rem);
}

.padding-top-8 {
  padding-top: clamp(0.125rem, -0.3438rem + 1.5vw, 0.5rem);
}

.padding-bottom-8 {
  padding-bottom: clamp(0.125rem, -0.3438rem + 1.5vw, 0.5rem);
}

.padding-top-16 {
  padding-top: clamp(0.25rem, -0.6875rem + 3vw, 1rem);
}

.padding-bottom-16 {
  padding-bottom: clamp(0.25rem, -0.6875rem + 3vw, 1rem);
}

.padding-top-20 {
  padding-top: clamp(0.5rem, -0.4375rem + 3vw, 1.25rem);
}

.padding-bottom-20 {
  padding-bottom: clamp(0.5rem, -0.4375rem + 3vw, 1.25rem);
}

.padding-top-24 {
  padding-top: clamp(0.5rem, -0.75rem + 4vw, 1.5rem);
}

.padding-bottom-24 {
  padding-bottom: clamp(0.5rem, -0.75rem + 4vw, 1.5rem);
}

.padding-top-32 {
  padding-top: clamp(0.75rem, -0.8125rem + 5vw, 2rem);
}

.padding-bottom-32 {
  padding-bottom: clamp(0.75rem, -0.8125rem + 5vw, 2rem);
}

.padding-top-40 {
  padding-top: clamp(1rem, 0.6176rem + 1.5686vw, 2.5rem);
}

.padding-bottom-40 {
  padding-bottom: clamp(1rem, 0.6176rem + 1.5686vw, 2.5rem);
}

.padding-top-48 {
  padding-top: clamp(1.125rem, 0.6471rem + 1.9608vw, 3rem);
}

.padding-bottom-48 {
  padding-bottom: clamp(1.125rem, 0.6471rem + 1.9608vw, 3rem);
}

.padding-top-64 {
  padding-top: clamp(1.5rem, 0.8627rem + 2.6144vw, 4rem);
}

.padding-bottom-64 {
  padding-bottom: clamp(1.5rem, 0.8627rem + 2.6144vw, 4rem);
}

.padding-top-80 {
  padding-top: clamp(2.5rem, 1.8627rem + 2.6144vw, 5rem);
}

.padding-bottom-80 {
  padding-bottom: clamp(2.5rem, 1.8627rem + 2.6144vw, 5rem);
}

.padding-top-96 {
  padding-top: clamp(1.5rem, -4.125rem + 18vw, 6rem);
}

.padding-bottom-96 {
  padding-bottom: clamp(1.5rem, -4.125rem + 18vw, 6rem);
}

.padding-top-120 {
  padding-top: clamp(1rem, -1.25rem + 5vw, 7.5rem);
}

.padding-bottom-120 {
  padding-bottom: clamp(1rem, -1.25rem + 5vw, 7.5rem);
}
