:root {
  --browns-penny: #522915;
  --browns-cinnamon: #642b0d;
  --browns-brunnette: #391e07;
  --browns-tawny: #7e491d;
  --browns-umber: #352415;
  --browns-tortilla: #9a7b4f;
  --browns-chocolate: #2c1603;
  --browns-gingerbread: #5d2c04;
  --browns-caramel: #66360f;
  --browns-walnut: #432711;
  --browns-pecan: #4a2512;
  --browns-hickory: #371d10;
  --browns-carrob: #35260f;
  --browns-peanut: #795c34;
  --browns-mocha: #3c290d;
  --browns-coffee: #4b371c;
  --browns-brown: #241709;

}