:root {
  --grays-fossil: #787276;
  --grays-coin: #9897a9;
  --grays-lead: #403f4e;
  --grays-pebble: #333333;
  --grays-flint: #7d7c9c;
  --grays-fog: #655965;
  --grays-dove: #7c6e7f;
  --grays-porpoise: #4d4c5d;
  --grays-ash: #554c4d;
  --grays-anchor: #42424c;
  --grays-smoke: #59515f;
  --grays-silver: #dddddd;
  --grays-cloud: #c5c5d0;
  --grays-pewter: #6a6880;
  --grays-iton: #332d31;
  --grays-graphite: #584d5b;
  --grays-shadow: #373737;
  --grays-grey: #aaaaaa;

}