:root {
  --greens-crocodile: #5f7c3a;
  --greens-basil: #32622d;
  --greens-pistachio: #b2d3c1;
  --greens-pickle: #5a7d36;
  --greens-seaweed: #354b21;
  --greens-mint: #98ecc3;
  --greens-parakeet: #02c04a;
  --greens-pine: #24501e;
  --greens-seafoam: #3cec96;
  --greens-shamrock: #03ac13;
  --greens-moss: #476d1e;
  --greens-pear: #74b62d;
  --greens-emerald: #038911;
  --greens-loive: #98bf64;
  --greens-fern: #5dbc64;
  --greens-lime: #01ff70;
  --greens-sage: #728c69;
  --greens-juniper: #395311;
  --greens-chartreuse: #b0fc37;
  --greens-green: #2ecc40;

}