:root {
  --whites-rice: #fbf6ef;
  --whites-parchment: #fcf6df;
  --whites-porcelain: #fffffc;
  --whites-bone: #e7dfcc;
  --whites-linen: #f2ebd3;
  --whites-coconut: #fff1e6;
  --whites-lace: #faf3ea;
  --whites-salt: #f8efec;
  --whites-chiffon: #fafaf1;
  --whites-cotton: #fbfbf9;
  --whites-eggshell: #fef9e3;
  --whites-cream: #fffbda;
  --whites-ivory: #fef7e5;
  --whites-snow: #f4fefd;
  --whites-alabaster: #fefaf0;
  --whites-pearl: #fbfcf7;
  --whites-white: #fffefc;
  --whites-frost: #fbfaf2;
  --whites-winter: #f9fdfe;


}