@use "../base/variables";


.flex {
	display: flex;
}

.flex-direction-column {
	flex-direction: column;
}

.flex-direction-row {
	flex-direction: row;
}

// grid and flex alignments

.align-end {
	align-items: flex-end;
}

.align-center {
	align-items: center;
}

.align-self-start {
	align-self: start;
}

.align-self-center {
	align-self: center;
}

.align-content-center {
	align-content: center;
}


.align-self-end {
	align-self: flex-end;
}

.align-end {
	align-content: end;
}

.justify-center {
	justify-content: center;
}

.justify-end {
	justify-content: flex-end;
}

.justify-content-end {
	justify-content: end;
}	

.space-between {
	justify-content: space-between;
}


// self alignments
.justify-self-center {
	justify-self: center;
}


.order-1 {
	order: -1;
}

.order1 {
	order: 1;
}

@media (max-width:767px) {
	.order-1 {
		order: 1;
	}
	.order1 {
		order: -1;
	}
}
