@use "../base/variables";



// gaps

.gap-40 {
	gap: clamp(0.5rem, -2rem + 8vw, 2.5rem);
}
.gap-32 {
	gap: clamp(0.5rem, -1.375rem + 6vw, 2rem);
}
.gap-24 {
	gap: clamp(0.5rem, -0.75rem + 4vw, 1.5rem);
}

.gap-20 {
	gap: clamp(0.5rem, -0.4375rem + 3vw, 1.25rem);
}

.gap-16 {
	gap: clamp(0.25rem, -0.6875rem + 3vw, 1rem);
}
.gap-8 {
	gap: clamp(0.125rem, -0.3438rem + 1.5vw, 0.5rem);
}
