@use "../base/variables";




.grid {
	display: grid;
}


.auto-fit {
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}


.col2-dynamic {
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.col3-dynamic {
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.col4-dynamic {
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.col5-dynamic {
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.row2-dynamic {
	grid-template-rows: repeat(2, min-content);
}

.row3-dynamic {
	grid-template-rows: repeat(3, min-content);
}
.row4-dynamic {
	grid-template-rows: repeat(4, min-content);
}


.col5-static {
	grid-template-columns: repeat(5, 1fr);
}

.col4-static {
	grid-template-columns: repeat(4, 1fr);
}


.col3-static {
	grid-template-columns: repeat(3, 1fr);
}

.col2-static {
	grid-template-columns: repeat(2, 1fr);
}

.col1-static {
	grid-template-columns: 1fr;
}

.span1 {
	grid-column: span 1;
	grid-row: span 1;
}

.span2 {
	grid-column: span 2;
	grid-row: span 1;
}

.span3 {
	grid-column: span 3;
	grid-row: span 1;
}

.span4 {
	grid-column: span 4;
	grid-row: span 1;
}

.span-start2-span-all {
	grid-column: 2 / -1;
	grid-row: span 1
}
.span-start2-span2 {
	grid-column: 2 / span 2;
	grid-row: span 1;
}

.span-start2-span3 {
	grid-column: 2 / span 3;
	grid-row: span 1;
}

.span-indent {
	grid-column: 2 / -1;
}

.span-all {
	grid-column: 1 / -1;
	grid-row: span 1
}

