@use "../base/variables";
@use "grid";
@use "flex";
@use "gap";
@use "padding";
@use "sizing";



main {
    display: flex;
    flex-direction: column;
padding-top: 40px;
}

.border-pink {
	border: 1px solid deeppink;

}
.section-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.dynamic-width-1400 {
	width: 92%;
	max-width: 1401px;
}

.full-width {
	width: 100%;
	max-width: 100%;
}


// dynamic widths
.dynamic-width-800 {
	width: 88%;
	max-width: 800px;
}

.dynamic-width-960 {
	width: 88%;
	max-width: 960px;
}

.dynamic-width-1200 {
	width: 88%;
	max-width: 1200px;
}

.dynamic-width-1400 {
	width: 96%;
	max-width: 1400px;
}

.w50pc {
	width: 50%;
}