@use "../base/variables";

// paddings
.padding-8 {
	padding: clamp(0.125rem, -0.3438rem + 1.5vw, 0.5rem);
}

.padding-16 {
	padding: clamp(0.25rem, -0.6875rem + 3vw, 1rem);
}

.padding-20 {
	padding: clamp(0.5rem, -0.4375rem + 3vw, 1.25rem);
}
.padding-24 {
	padding: clamp(0.5rem, -0.75rem + 4vw, 1.5rem);
}	

.padding-32 {
	padding: clamp(0.75rem, -0.8125rem + 5vw, 2rem);
}
.padding-40 {
	padding: clamp(0rem, -0.6373rem + 2.6144vw, 2.5rem);
}

.padding-left-40 {
	padding-left: clamp(0rem, -0.6373rem + 2.6144vw, 2.5rem);
}
.padding-right-40 {
	padding-right: clamp(0rem, -0.6373rem + 2.6144vw, 2.5rem);
}
.padding-left-48 {
	padding-left: clamp(0rem, -0.7647rem + 3.1373vw, 3rem);
}
.padding-right-48 {
	padding-right: clamp(0rem, -0.7647rem + 3.1373vw, 3rem);
}



.padding-left-120 {
	padding-left: clamp(1rem, -1.25rem + 5vw, 7.5rem);
}


.padding-top-8 {
	padding-top: clamp(0.125rem, -0.3438rem + 1.5vw, 0.5rem);
}

.padding-bottom-8 {
	padding-bottom: clamp(0.125rem, -0.3438rem + 1.5vw, 0.5rem);
}

.padding-top-16 {
	padding-top: clamp(0.25rem, -0.6875rem + 3vw, 1rem);
}

.padding-bottom-16 {
	padding-bottom: clamp(0.25rem, -0.6875rem + 3vw, 1rem);
}

.padding-top-20 {
	padding-top: clamp(0.5rem, -0.4375rem + 3vw, 1.25rem);
}

.padding-bottom-20 {
	padding-bottom: clamp(0.5rem, -0.4375rem + 3vw, 1.25rem);
}


.padding-top-24 {
	padding-top: clamp(0.5rem, -0.75rem + 4vw, 1.5rem);
}
.padding-bottom-24 {
	padding-bottom: clamp(0.5rem, -0.75rem + 4vw, 1.5rem);
}


.padding-top-32 {
	padding-top: clamp(0.75rem, -0.8125rem + 5vw, 2rem);
}
.padding-bottom-32 {
	padding-bottom: clamp(0.75rem, -0.8125rem + 5vw, 2rem);
}



.padding-top-40 {
	padding-top: clamp(0.5rem, -2rem + 8vw, 2.5rem);
}
.padding-bottom-40 {
	padding-bottom: clamp(0.5rem, -2rem + 8vw, 2.5rem);
}

.padding-top-48 {
	padding-top: clamp(0.5rem, -2.625rem + 10vw, 3rem);
}
.padding-bottom-48 {
	padding-bottom: clamp(0.5rem, -2.625rem + 10vw, 3rem);
}

.padding-top-64 {
	padding-top: clamp(1rem, -2.75rem + 12vw, 4rem);
}
.padding-bottom-64 {
	padding-bottom: clamp(1rem, -2.75rem + 12vw, 4rem);
}

.padding-top-80 {
	padding-top: clamp(1.25rem, -3.4375rem + 15vw, 5rem);
}
.padding-bottom-80 {
	padding-bottom: clamp(1.25rem, -3.4375rem + 15vw, 5rem);
}

.padding-top-96 {
	padding-top: clamp(1.5rem, -4.125rem + 18vw, 6rem);
}
.padding-bottom-96 {
	padding-bottom: clamp(1.5rem, -4.125rem + 18vw, 6rem);
}

.padding-top-120 {
	padding-top: clamp(1rem, -1.25rem + 5vw, 7.5rem);
}

.padding-bottom-120 {
	padding-bottom: clamp(1rem, -1.25rem + 5vw, 7.5rem);
}




