@use "../base/variables";


.w40 {
    width: 40%;
}

.w40vw {
    width: 40vw;
}

.h40 {
    height: 40%;
}

.h40vh {
    height: 40vh;
}



.w50 {
    width: 50%;
}

.w50vw {
    width: 50vw;
}

.h50 {
    height: 50%;
}

.h50vh {
    height: 50vh;
}




.w60 {
    width: 60%;
}

.w60vw {
    width: 60vw;
}

.h60 {
    height: 60%;
}

.h60vh {
    height: 60vh;
}



.w70 {
    width: 70%;
}

.w70vw {
    width: 70vw;
}

.h70 {
    height: 70%;
}

.h70vh {
    height: 70vh;
}





.w80 {
    width: 80%;
}

.w80vw {
    width: 80vw;
}

.h80 {
    height: 80%;
}

.h80vh {
    height: 80vh;
}




.w90 {
    width: 90%;
}

.w90vw {
    width: 90vw;
}

.h90 {
    height: 90%;
}

.h90vh {
    height: 90vh;
}




.w100 {
    width: 100%;
}

.w100vw {
    width: 100vw;
}

.h100 {
    height: 100%;
}

.h100vh {
    height: 100vh;
}