* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: var(--sans);
  font-feature-settings: "ss01" on;
}

html,
body {
  width: 100%;
  height: 100%;
}

img,
video,
picture {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: var(--p);
}

.background-900 {
  background: var(--brand-900);
  color: var(--white);
}

.background-800 {
  background: var(--brand-800);
  color: var(--white);
}

.background-500 {
  background: var(--brand-500);
}

.background-200 {
  background: var(--brand-200);
}

.gray-200 {
  color: var(--gray-200);
}

.gray-300 {
  color: var(--gray-300);
}

.gray-400 {
  color: var(--gray-400);
}

.gray-500 {
  color: var(--gray-500);
}

.gray-600 {
  color: var(--gray-600);
}

.gray-700 {
  color: var(--gray-700);
}

.gray-800 {
  color: var(--gray-800);
}

.border {
  border: 1px solid var(--gray-200);
}

.border-color-gray-300 {
  border-color: var(--gray-300);
}

.border-color-gray-400 {
  border-color: var(--gray-400);
}

.border-color-gray-500 {
  border-color: var(--gray-500);
}

.border-color-gray-600 {
  border-color: var(--gray-600);
}

.border-color-gray-700 {
  border-color: var(--gray-700);
}

.border-color-gray-800 {
  border-color: var(--gray-800);
}

.border-color-white {
  border-color: var(--white);
}
