:root {
  --sans: "Switzer", sans-serif;
  --serif: "Recia", serif;
  --display-sans: "Sharpie", sans-serif;
  --display-serif: "Literata", serif;
  /* html text styles */
  /* this set is little small in size, use for more conservative designs */
  --h1: clamp(1.75rem, 1.1765rem + 2.3529vw, 4rem);
  --h2: clamp(1.5rem, 0.9902rem + 2.0915vw, 3.5rem);
  --h3: clamp(1.375rem, 0.9608rem + 1.6993vw, 3rem);
  --h4: clamp(1.25rem, 0.9314rem + 1.3072vw, 2.5rem);
  --h5: clamp(1.125rem, 0.902rem + 0.915vw, 2rem);
  --h6: clamp(1rem, 0.8725rem + 0.5229vw, 1.5rem);
  --p: clamp(1rem, 0.8725rem + 0.5229vw, 1.5rem);
  /* display title styles */
  --d1: clamp(var(--size-48), var(--size-8) + 10vw, var(--size-160));
  --d2: clamp(var(--size-32), var(--size-8) + 8vw, var(--size-100));
  --d3: clamp(var(--size-24), var(--size-8) + 6vw, var(--size-60));
}
