:root {
  /* colors */
  --white: #fcfcfc;
  --black: #09090b;
  --transparent: rgba(0, 0, 0, 0);
  /* primary */
  --primary-200: #ffc9c5;
  --primary-300: #ffa39d;
  --primary-500: #fe4235;
  --primary-700: #C71A0E;
  --primary-950: #4a0905;
  /* secondary */
  --secondary-200: #9af5e2;
  --secondary-300: #2ed3bc;
  --secondary-500: #15b7a3;
  --secondary-700: #10756c;
  --secondary-950: #064240;
  /* brand */
  --brand-900: #4A4A4A;
  --brand-500: #CCC4B8;
  --brand-200: #FCF2EA;
  /* zinc */
  --gray-50: #fafafa;
  --gray-100: #f4f4f5;
  --gray-200: #e4e4e7;
  --gray-300: #d4d4d8;
  --gray-400: #a1a1aa;
  --gray-500: #71717a;
  --gray-600: #52525b;
  --gray-700: #3f3f46;
  --gray-800: #27272a;
  --gray-900: #18181b;
  /* white opacity */
  --white-opacity-10: rgba(255, 255, 255, 0.1);
  --white-opacity-20: rgba(255, 255, 255, 0.2);
  --white-opacity-30: rgba(255, 255, 255, 0.3);
  --white-opacity-40: rgba(255, 255, 255, 0.4);
  --white-opacity-50: rgba(255, 255, 255, 0.5);
  --white-opacity-60: rgba(255, 255, 255, 0.6);
  --white-opacity-70: rgba(255, 255, 255, 0.7);
  --white-opacity-80: rgba(255, 255, 255, 0.8);
  --white-opacity-90: rgba(255, 255, 255, 0.9);
  /* black opacity */
  --black-opacity-10: rgba(0, 0, 0, 0.1);
  --black-opacity-20: rgba(0, 0, 0, 0.2);
  --black-opacity-30: rgba(0, 0, 0, 0.3);
  --black-opacity-40: rgba(0, 0, 0, 0.4);
  --black-opacity-50: rgba(0, 0, 0, 0.5);
  --black-opacity-60: rgba(0, 0, 0, 0.6);
  --black-opacity-70: rgba(0, 0, 0, 0.7);
  --black-opacity-80: rgba(0, 0, 0, 0.8);
  --black-opacity-90: rgba(0, 0, 0, 0.9);
}
