:root {
  --sans: "Inter Variable", sans-serif;
  --serif: "Recia", serif;
  --display-sans: "Sharpie", sans-serif;
  --display-serif: "Literata", serif;
  /* html text styles */
  /* this set is little small in size, use for more conservative designs */
  --h1: clamp(1.5rem, -2.25rem + 12vw, 4.5rem);
  --h2: clamp(1.25rem, -2.1875rem + 11vw, 4rem);
  --h3: clamp(1.125rem, -1.8438rem + 9.5vw, 3.5rem);
  --h4: clamp(1rem, -1.5rem + 8vw, 3rem);
  --h5: clamp(0.875rem, -1.1563rem + 6.5vw, 2.5rem);
  --h6: clamp(0.875rem, -0.5313rem + 4.5vw, 2rem);
  --p: clamp(0.875rem, 0.0938rem + 2.5vw, 1.5rem);
  /* display title styles */
  --d1: clamp(var(--size-48), var(--size-8) + 10vw, var(--size-160));
  --d2: clamp(var(--size-32), var(--size-8) + 8vw, var(--size-100));
  --d3: clamp(var(--size-24), var(--size-8) + 6vw, var(--size-60));
}

:root {
  /* colors */
  --white: #fcfcfc;
  --black: #09090b;
  --transparent: rgba(0, 0, 0, 0);
  /* primary */
  --primary-200: #ffc9c5;
  --primary-300: #ffa39d;
  --primary-500: #fe4235;
  --primary-700: #C71A0E;
  --primary-950: #4a0905;
  /* secondary */
  --secondary-200: #9af5e2;
  --secondary-300: #2ed3bc;
  --secondary-500: #15b7a3;
  --secondary-700: #10756c;
  --secondary-950: #064240;
  /* brand */
  --brand-900: #4A4A4A;
  --brand-500: #CCC4B8;
  --brand-200: #FCF2EA;
  /* zinc */
  --gray-50: #fafafa;
  --gray-100: #f4f4f5;
  --gray-200: #e4e4e7;
  --gray-300: #d4d4d8;
  --gray-400: #a1a1aa;
  --gray-500: #71717a;
  --gray-600: #52525b;
  --gray-700: #3f3f46;
  --gray-800: #27272a;
  --gray-900: #18181b;
  /* white opacity */
  --white-opacity-10: rgba(255, 255, 255, 0.1);
  --white-opacity-20: rgba(255, 255, 255, 0.2);
  --white-opacity-30: rgba(255, 255, 255, 0.3);
  --white-opacity-40: rgba(255, 255, 255, 0.4);
  --white-opacity-50: rgba(255, 255, 255, 0.5);
  --white-opacity-60: rgba(255, 255, 255, 0.6);
  --white-opacity-70: rgba(255, 255, 255, 0.7);
  --white-opacity-80: rgba(255, 255, 255, 0.8);
  --white-opacity-90: rgba(255, 255, 255, 0.9);
  /* black opacity */
  --black-opacity-10: rgba(0, 0, 0, 0.1);
  --black-opacity-20: rgba(0, 0, 0, 0.2);
  --black-opacity-30: rgba(0, 0, 0, 0.3);
  --black-opacity-40: rgba(0, 0, 0, 0.4);
  --black-opacity-50: rgba(0, 0, 0, 0.5);
  --black-opacity-60: rgba(0, 0, 0, 0.6);
  --black-opacity-70: rgba(0, 0, 0, 0.7);
  --black-opacity-80: rgba(0, 0, 0, 0.8);
  --black-opacity-90: rgba(0, 0, 0, 0.9);
}

:root {
  /*  sizes  */
  --size-0: 0;
  --size-1: 0.0625rem;
  --size-1half: 0.09375rem;
  --size-2: 0.125rem;
  --size-4: 0.25rem;
  --size-8: 0.5rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-24: 1.5rem;
  --size-32: 2rem;
  --size-40: 2.5rem;
  --size-48: 3rem;
  --size-60: 3.75rem;
  --size-72: 4.5rem;
  --size-80: 5rem;
  --size-100: 6.25rem;
  --size-120: 7.5rem;
  --size-160: 10rem;
  /* space */
  --space-xsmall: clamp(var(--size-4), var(--size-4) + 2vw, var(--size-16));
  --space-small: clamp(var(--size-8), var(--size-4) + 2vw, var(--size-24));
  --space-medium: clamp(var(--size-16), var(--size-8) + 2vw, var(--size-32));
  --space-large: clamp(var(--size-24), var(--size-8) + 2.2vw, var(--size-48));
  --space-xlarge: clamp(var(--size-32), var(--size-8) + 2.2vw, var(--size-60));
  --space-grande: clamp(var(--size-60), var(--size-8) + 2.2vw, var(--size-80));
  --space-jumbo: clamp(var(--size-80), var(--size-8) + 2.2vw, var(--size-120));
  --space-giant: clamp(var(--size-100), var(--size-8) + 2.2vw, var(--size-160));
  --space-mega: clamp(calc(var(--size-120) * 1.25), var(--size-8) + 2.8vw, calc(var(--size-160) * 1.25));
  --space-cosmic: clamp(calc(var(--size-120) * 1.5), var(--size-8) + 3.2vw, calc(var(--size-160) * 1.5));
  /* border radius */
  --radius: clamp(var(--size-2), var(--size-4) + 2vw, var(--size-8));
}

.grid {
  display: grid;
}

.auto-fit {
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.col2 {
  grid-template-columns: repeat(2, 1fr);
}

.col3 {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.col4 {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.row2 {
  grid-template-rows: repeat(2, min-content);
}

.span1 {
  grid-column: span 1;
  grid-row: span 1;
}

.span2 {
  grid-column: span 2;
  grid-row: span 1;
}

.span-all {
  grid-column: 1/-1;
}

.flex {
  display: flex;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}

.align-content-center {
  align-content: center;
}

.justify-center {
  justify-content: center;
}

.justify-self-center {
  justify-self: center;
}

.gap-dynamic-24 {
  gap: clamp(0.5rem, 0.3088rem + 0.7843vw, 1.25rem);
}

.gap-dynamic-16 {
  gap: clamp(0.25rem, 0.0588rem + 0.7843vw, 1rem);
}

.dynamic-width-800 {
  width: 88%;
  max-width: 800px;
}

.dynamic-width-1200 {
  width: 88%;
  max-width: 1220px;
}
