* {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	font-family: var(--sans);
	font-feature-settings: 'ss01' on;
	// font-weight: 400;
}





html,
body {
	width: 100%;
	height: 100%;
}

img,
video,
picture {
	display: block;
	width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
	font-weight: 500;
	font-size: var(--p);
}

.background-900 {
	background: var(--brand-900);
	color: var(--white);
}

.background-500 {
	background: var(--brand-500);
}

.background-200 {
	background: var(--brand-200);
}