@use 'variables';

.white {
	color: var(--white);
}
.black {
	color: var(--black);
}

.brand-200 {
	color: var(--brand-200);
}
.brand-500 {
	color: var(--brand-500);
}
.brand-900 {
	color: var(--brand-900);
}





// primary and secondary colors
.primary-200 {
	color: var(--primary-200);
}

.primary-300 {
	color: var(--primary-300);
}

.primary-500 {
	color: var(--primary-500);
}
.primary-700 {
	color: var(--primary-700);
}


.secondary-200 {
	color: var(--secondary-200);
}

.secondary-300 {
	color: var(--secondary-300);
}

.secondary-500 {
	color: var(--secondary-500);
}
.secondary-700 {
	color: var(--secondary-700);
}

.secondary-900 {
	color: var(--secondary-900);
}