footer {
    .footer-container {
        height: 40px;
        border-top: 1px solid var(--gray-300);
        background: var(--gray-200);
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            font-size: 14px;
        }
    }
}