@use "../base/variables";



.light-text {
    color: #ddd;
}

.text-white {
    color: white;
}

.img-width-300 {
    width: clamp(0rem, -4.7794rem + 19.6078vw, 18.75rem);
}

.img-width-400 {
    width: 100%;
    max-width: 400px;
}


.img-width-500 {
    width: 100%;
    max-width: 500px;
}


.content-container picture {
    border-radius: clamp(0.25rem, 0.1863rem + 0.2614vw, 0.5rem);
    overflow: hidden;
}



.gray-bg {
    border-top: 1px solid rgba(black, 0.5);
    border-bottom: 1px solid rgba(black, 0.5);
    background: #f6f6f6;
}




.resources {
    .resources-image {
        min-width: 140px;

    }

    .metadata {
        min-height: 100px;
    }
}

.upcoming-events {
    background: var(--gray-800);
    background: #170b07;
    border-top: 1px solid #60443c;

    & * {
        color: var(--white);
    }

    h2 {
        color: #aaa;
    }
    
}

.background-black {
    background: #181818;
}




ul.band {
    li {
        color: var(--gray-300);
        padding: 4px 0;

        span {
            color: var(--white);
            font-weight: 700;
            ;
        }
    }
}


.purchase {
    padding-top: 24px;

    a {
        display: inline-flex;
        height: 40px;
        padding: 0 16px;
        background: red;
        color: white;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
    }
}

.video-bg {
    background: linear-gradient(to bottom #333, black);
    color: #ccc;
}